@using Microsoft.AspNetCore.Components.Authorization
@inject IJSRuntime JS

<HeadContent>
    <meta name="blazor-navigation-locking" content="false" />
    <script src="js/unload-fix.js"></script>
</HeadContent>

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <h3>Sidan hittades inte</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("preventBlazorUnload");
        }
    }
}
